<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>downloadTikTokandYoutub</title>
  <link rel="stylesheet" href="/static/k.css" />
</head>
<body>
  <div class="wrapper">
    <h1>Download Video tiktok and youtub by link</h1>
    <form action="/download" method="POST" autocomplete="off" id="downloadForm">
      <input
        type="text"
        name="link"
        placeholder="enter video link"
        required
        spellcheck="false"
      />
      <input type="submit" value="تحميل" />
    </form>
  </div>

  <script src="/static/sec.js.js"></script>
</body>
</html>
